%h2 European year of Creativity and Innovation

%p Il 2009 è stato l'anno europeo dedicato alla creatività ed alla innovazione. Obiettivo: accrescere la consapevolezza dell'importanza della creatività ed innovazione, quali componenti essenziali per lo sviluppo personale, sociale, ed economico. Noi abbiamo raccolto questo messaggio, ed abbiamo deciso di promuoverlo, perché convinti che sul nostro pianeta esistono persone capaci, creative, ed intelligenti, che riescono già a guardare dove altri non vedono...

%p Con queste motivazioni e convinzioni, abbiamo deciso di realizzare questo sito, e metterlo a loro disposizione.

%p.stop
  - link_to "Torna alla home", "/"
  
%br 
  // bleah
%br  
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br

- link_to "Privacy", "/privacy"