#lefty
  %h3 Le ultime creazioni pubblicate:
  %ul#creations
    = partial creations
#righty
  .h3s
    %h3 Ti consideri originale?
    %h3 Ti senti creativo/a?
    %h3 Cosa sai fare realmente?
  
  .box
    .mex.cent
      %span.yellow<
        - link_to "Iscriviti subito!", "/users/new"
        
    %p.mex.tcent#describe Descrivi le tue opere <br> e pubblica i tuoi lavori,<br> così potrai farti conoscere<br> in tutto  il mondo!

  %p#gratis.tcent
    e' semplice... e' gratis!
    
  %p#eyci.tcent
    - link_to "EYCI <br> European year of Creativity and Innovation", "/eyci"
  
.clear
  