#lefty
  %h3 Le ultime creazioni pubblicate:
  %ul#creations
    = partial creations
#righty.align_right
  %h3 Ti consideri originale?
  %h3 Ti senti creativo/a?
  %h3 Cosa sai fare realmente?
  
  .box
    %p.mex Con l'obiettivo di accrescere la consapevolezza dell'importanza della creativita' e della innovazione, quali componenti essenziali per lo sviluppo personale, sociale, economico!

    %p.mex.important Siamo convinti che su questo pianeta esistano persone capaci, creative ed intelligenti, che sanno guardare dove altri non vedono.

    %p.mex 
      %span.yellow<
        - link_to "Iscriviti subito", "/users/new"
      a Hands-On Experience e pubblica i tuoi lavori, così potrai farti conoscere in tutto il mondo!

.clear
  