%section
  
  .categories
    %h3 Categories
    %ul#categories
      - categories = ["Arts and Crafts", "Multimedia", "Pictures and Photos", "Computer Land", "Green Economy", "Blue Economy", "Other"]
      - categories.each do |category|
        %li
          - link_to category, "/category/#{category.titleize}"