!!! Strict
%html{ html_attrs("en_EN") }
  %head
    %title Hands-on Experience - Pubblica i tuoi lavori!
    %link{ href: "/css/fancybox.css", rel: "stylesheet" }
    %link{ href: "/css/main.css", rel: "stylesheet" }
    %meta{ charset: "utf-8" }
    %meta{ :"http-equiv" => "X-UA-Compatible", content: "IE=edge,chrome=1" }
    %meta{ name: "description", content: "Iscriviti subito ad hands-on experience e pubblica i tuoi lavori! Potrai farti conoscere in tutto il mondo!" }
    %meta{ name: "keywords", content: "hands on experience, hands-on, experience, lavori, pubblica" }    
    %meta{ name: "author", content: "Francesco 'makevoid' Canessa, Pio Porcinai" }    
    -# %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %script{ src: "/js/modernizr.js", type: "text/javascript" }
    - if ENV["RACK_ENV"] == "production"
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-10682634-11']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  %body{ class: body_class }
    #container
      %header
        #login.right
          - if logged_in?
            - link_to "Profilo", "/users/#{cur_user.nick_url}", class: "btn"
            - link_to "Logout", "/logout", class: "btn"
          - else
            - link_to "Accedi", "/login", class: "btn"
            - link_to "Registrati", "/users/new", class: "btn"
        %h1
          - link_to "<img src='/imgs/handsonxp_logo.png' id='logo' />", "/"
          .title
            - link_to "Hands-on", "/"
            %span
              - link_to "Experience", "/"
        
        %span.beta BETA
        .clear
      -# unless home?
      %nav
        - link_to "Opere", "/creations", class: "btn"
        - link_to "Autori", "/users", class: "btn"
        - if logged_in?
          - link_to "I miei lavori", "/users/#{cur_user.nick_url}/creations", class: "btn"
      #content
        #flash
          - [:notice, :error, :alert].each do |name|
            - unless flash[name].blank?
              %div{ class: name }= flash[name]
        .clear
        = yield
      .clear
      %footer
    %script{ src: "/js/jquery.js", type: "text/javascript" }  
    %script{ src: "/js/jquery-easing.js", type: "text/javascript" }
    %script{ src: "/js/jquery-fancybox.js", type: "text/javascript" } 
    %script{ src: "/js/main.js", type: "text/javascript" }
