%h2 Accedi a Hands-On Experience

%form{ action: "/login", method: "post" }
  %label{ for: "username" } Nome utente
  %input{ name: "username", type: "text" }
  %label{ for: "password" } Password
  %input{ name: "password", type: "password" }
  %input.submit{ value: "Login", type: "submit" }