%h2= @category.namize

- creatz = creations.all(category: @category)

- unless creatz == []
  %p List of creations in this category:

  %ul#categories
    - partial creatz
- else
  %p.nomessage
    There are no creations in this category... yet!
  - link_to "Publish one!", "/creations/new", class: "btn"
  