%h2= @category.namize

- creatz = creations.all(category: @category)

- unless creatz == []
  %p Lista dei tuoi lavori:

  %ul#categories
    - partial creatz
- else
  %p.nomessage
    Non ci sono lavori in questa categoria
  - link_to "Inseriscine uno!", "/creations/new", class: "btn"
  