

#lefty
  %h2 Lavori
  %ul#creations
    = partial creations
  
#righty  
  %section
    .categories
      %h3 Categorie
      
      .box
        %ul#categories
          - CATEGORIES.each do |category|
            %li
              - link_to category, "/creations/#{category.titleize}/category"