

#lefty
  %h2 Opere
  %ul#creations
    = partial creations
  .clear
  
  .pagination                                        
    pag:
    - Creation.pages.times do |i|
      %a{ :href => "/creations?page=#{i}" }= i+1
  
#righty  
  %section
    .categories
      %h3 Categorie
      
      .box
        %ul#categories
          - CATEGORIES.each do |category|
            %li
              - link_to category, "/creations/#{category.titleize}/category"
              
