

#lefty
  %h2 Creations
  %ul#creations
    = partial creations
  
#righty  
  %section
    .categories
      %h3 Categories
      %ul#categories
        - CATEGORIES.each do |category|
          %li
            - link_to category, "/creations/#{category.titleize}/category"