%h2 Inserisci un nuovo lavoro:

- error_messages_for creation

%form{ action: "/creations", method: "post", enctype: "multipart/form-data" }       
  = partial :"creations/_form"
  %input{ type: "submit", value: "Inserisci" }
