%ul#what_i_do
  - unless @creations == []
    = partial @creations
    
    
  - else
    %li.no_creations 
      - if @cur_user == @user
        Non hai ancora aggiunto un lavoro
        - link_to "Inizia ora!", "/creations/new", class: "btn"
      - else
        L'utente non ha ancora caricato nessuna opera.