
%p Obbligatori

%label Nome Utente                         
%input{ type: "text", name: "user[nickname]", value: user.nickname }
%label Email                         
%input{ type: "text", name: "user[email]", value: user.email }
%label Password                         
%input{ type: "password", name: "user[password]", value: user.password }

%input{ type: "submit", value: request.path.split("/")[3] == "edit" ?  "Modifica" : "Registrati" } 

%p Facoltativi

%label Nome e Cognome                      
%input{ type: "text", name: "user[name]", value: user.name }
%label Indirizzo
%input{ type: "text", name: "user[address]", value: user.address }
%label CAP
%input{ type: "text", name: "user[zip]", value: user.zip }
%label Comune
%input{ type: "text", name: "user[city]", value: user.city }
%label Città
%input{ type: "text", name: "user[country]", value: user.country }
%label Telefono
%input{ type: "text", name: "user[phone]", value: user.phone }  
%label Biografia                    
%textarea{ name: "user[bio]" }
  = user.bio
