%h2 What I do:


%p.info
  - link_to "Add creation", "/creations/new", class: "btn"

%ul#what_i_do
  - unless @creations == []
    = partial @creations
    
    
  - else
    %li.no_creations 
      You haven't uploaded what you do!
      - link_to "Start now", "/creations/new", class: "btn"