%h2 Modifica il tuo Profilo

%form{ action: "/users/#{user.nick_url}", method: "post" }
  %input{ type: "hidden", name: "_method", value: "put" }
  = haml :"users/_form"
  %input{ type: "submit", value: "Modifica" }

  